@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root {
    --color-primary: #191d2b;
    --color-secondary: #ed6c40;
    --color-white: #FFFFFF;
    --color-grey-3: #6c7983;
	--fg: #2e3138;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' !important;
  }

  body{
    margin-top: 10%;
    background-color: var(--color-primary);

  }
 
/***************ANIM1***************/
.anim__loader1 {
  border: 2px solid #FFF;
  width: 48px;
  height: 48px;
  background: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.anim__loader1::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent #FFF;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
/***************ANIM2***************/
.anim__loader2 {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.anim__loader2::after,
.anim__loader2::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: scaleOut 2s ease-in-out infinite;
}
.anim__loader2::after {
  border-color: #FF3D00;
  animation-delay: 1s;
}

@keyframes scaleOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/***************ANIM3***************/
.anim__loader3 {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  color: #FFF;
  border: 1px solid;
  box-sizing: border-box;
  animation: fill 2s linear infinite alternate;
}

@keyframes fill {
  0% {
    box-shadow: 0 0  inset;
  }
  100% {
    box-shadow: 0 -48px inset;
  }
}
    

/***************ANIM4***************/
.anim__loader4 {
  width: 48px;
  height: 48px;
  border: 5px dotted #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/***************ANIM5***************/
.anim__loader5 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  box-sizing: border-box;
  animation: anim__loader5 1s linear infinite alternate;
}
@keyframes anim__loader5 {
  0% {
    border-color: white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  33% {
    border-color: white white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  66% {
    border-color: white white white rgba(255, 255, 255, 0);
  }
  100% {
    border-color: white white white white;
  }
} 
 

/***************ANIM6***************/
.anim__loader6 {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.anim__loader6::after {
  content: '';  
  position: absolute;
  box-sizing: border-box;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #FFF;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 



/***************ANIM7***************/

.anim__loader7 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.anim__loader7 div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: anim__loader7 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.anim__loader7 div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes anim__loader7 {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/****************ANIM 8 **************/

.anim__loader8 {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.anim__loader8 div {
  transform-origin: 40px 40px;
  animation: anim__loader8 1.2s linear infinite;
}
.anim__loader8 div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.anim__loader8 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.anim__loader8 div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.anim__loader8 div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.anim__loader8 div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.anim__loader8 div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.anim__loader8 div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.anim__loader8 div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.anim__loader8 div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.anim__loader8 div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.anim__loader8 div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.anim__loader8 div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.anim__loader8 div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes anim__loader8 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*********************ANIM 9********************/

.anim__loader9 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.anim__loader9:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: anim__loader9 1.2s infinite;
}
@keyframes anim__loader9 {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


/*********************ANIM 10********************/

.anim__loader10 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.anim__loader10 div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fcf;
  animation: anim__loader10 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.anim__loader10 div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.anim__loader10 div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.anim__loader10 div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes anim__loader10 {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/************ANIM 11**************/

.anim__loader11 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.anim__loader11 div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.anim__loader11 div:nth-child(1) {
  left: 8px;
  animation: anim__loader111 0.6s infinite;
}
.anim__loader11 div:nth-child(2) {
  left: 8px;
  animation: anim__loader112 0.6s infinite;
}
.anim__loader11 div:nth-child(3) {
  left: 32px;
  animation: anim__loader112 0.6s infinite;
}
.anim__loader11 div:nth-child(4) {
  left: 56px;
  animation: anim__loader113 0.6s infinite;
}
@keyframes anim__loader111 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes anim__loader113 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes anim__loader112 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


/*******************ANIM12******************/
.anim__loader12 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.anim__loader12 div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: anim__loader12 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.anim__loader12 div:after,
.anim__loader12 div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}
.anim__loader12 div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.anim__loader12 div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes anim__loader12 {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}


/**************ANIM13***************/
.anim__loader13 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.anim__loader13 div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: anim__loader13 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.anim__loader13 div:nth-child(1) {
  animation-delay: -0.45s;
}
.anim__loader13 div:nth-child(2) {
  animation-delay: -0.3s;
}
.anim__loader13 div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes anim__loader13 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**************ANIM14***************/
.anim__loader14 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.anim__loader14 div {
  animation: anim__loader14 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.anim__loader14 div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.anim__loader14 div:nth-child(1) {
  animation-delay: -0.036s;
}
.anim__loader14 div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.anim__loader14 div:nth-child(2) {
  animation-delay: -0.072s;
}
.anim__loader14 div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.anim__loader14 div:nth-child(3) {
  animation-delay: -0.108s;
}
.anim__loader14 div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.anim__loader14 div:nth-child(4) {
  animation-delay: -0.144s;
}
.anim__loader14 div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.anim__loader14 div:nth-child(5) {
  animation-delay: -0.18s;
}
.anim__loader14 div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.anim__loader14 div:nth-child(6) {
  animation-delay: -0.216s;
}
.anim__loader14 div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.anim__loader14 div:nth-child(7) {
  animation-delay: -0.252s;
}
.anim__loader14 div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.anim__loader14 div:nth-child(8) {
  animation-delay: -0.288s;
}
.anim__loader14 div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes anim__loader14 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**************ANIM15***************/
.anim__loader15 {
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.anim__loader15::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: #FF3D00;
  width: 3px;
  height: 24px;
  transform: translateX(-50%);
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
/**************ANIM16***************/

.anim__loader16 {
  background: #de3500;
  width: 70px;
  height: 70px;
  position: relative;
  text-align: center;
  animation: 3s rotate linear infinite;
}
.anim__loader16:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #FFFF;
  animation: 1.5s rotate reverse linear infinite ;

}
@keyframes rotate {
  0%{    transform: rotate(0deg)}
  100%{    transform: rotate(360deg)}
}
      

/**************ANIM17***************/
.anim__loader17 {
  width: 48px;
  height: 6px;
  display: block;
  margin: auto;
  position: relative;
  border-radius: 4px;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 0.6s linear infinite;
}

@keyframes animloader {
  0% { box-shadow: -10px 20px, 10px 35px , 0px 50px }
  25% { box-shadow: 0px 20px ,  0px 35px, 10px 50px }
  50% { box-shadow: 10px 20px, -10px 35px, 0px 50px }
  75% { box-shadow: 0px 20px, 0px  35px, -10px 50px }
  100% { box-shadow: -10px 20px, 10px  35px, 0px 50px}
}
/**************ANIM18***************/
.anim__loader__parent{
  display: flex;
  justify-content: center;
}

.anim__loader18{
  display: block;
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: #fff;
  border:2px solid #fff;
  color: red;
  overflow: hidden;
}
.anim__loader18::before{
  content: '';
  background: red;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  animation: loading 10s linear infinite;
}
.anim__loader18:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: rgb(0,255,255);
  mix-blend-mode: difference;
  animation: percentage 10s linear infinite;
}

@keyframes loading {
  0% { width: 0 }
  100% { width: 100% }
}
@keyframes percentage {
  0% { content: "0%"}
  5% { content: "5%"}
  7% { content: "7%"}
  10% { content: "10%"}
  20% { content: "20%"}
  30% { content: "30%"}
  40% { content: "40%"}
  50% { content: "50%"}
  60% { content: "60%"}
  70% { content: "70%"}
  80% { content: "80%"}
  90% { content: "90%"}
  95% { content: "95%"}
  96% { content: "96%"}
  97% { content: "97%"}
  98% { content: "98%"}
  99% { content: "99%"}
  100% { content: "100%"}
}


/**************ANIM19***************/
.anim__loader19 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.anim__loader19::after,
.anim__loader19::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.anim__loader19::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    
/**************ANIM20***************/
.anim__loader20 {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color:#de3500 #0000 #fff #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.anim__loader20:before , .anim__loader20:after{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color:#fff;
  transform: translate(-10px, 19px) rotate(-35deg);
}
.anim__loader20:after {
  border-color: #de3500 #0000 #0000 #0000 ;
  transform: translate(32px, 3px) rotate(-35deg);
}
 @keyframes rotate {
  100%{    transform: rotate(360deg)}
}